<h2>Hours</h2>

Hours for a task are divided into 3 different categories:

<ul>
	<li><b>Original Estimate:</b> Set at the time of task creation, this 
	indicates how long it was originally intended/estimated to take.</li>
	<li><b>Current Estimate:</b> When the task is in progress, this 
	indicates how long it has taken thus far; after it is closed, this 
	indicates how long it took (compare against <i>original estimate</i>).</li>
	<li><b>Time Elapsed:</b> Indicates how much time has been spent on the 
	task.  Adding more time to a task will automatically increase this number
	(along with <i>current estimate</i>, should that be exceeded).</li>
</ul>