<h2>External Links</h2>

When viewing a Helpdesk Issue, there is an "External Link" provided for developers, so they may send a link to users who are not registered.  This URL allows 
non-registered users to view the link without worrying about having to login.<BR><BR>


{helpdesk_links}