
{stepData}

<form method="POST">



<p>
	This step will build the following default values in the database:
	<ul>
		<li>Version information</li>
		<li>Log categories, classes, and record type data</li>
		<li>Attribute records</li>
		<li>Anonymous contact data &amp; groups</li>
		<li>Status records</li>
		<li>Tag names</li>
		<li>Preferences &amp; options</li>
		<li>Administrator/user information</li>
	</ul>
</p>

<table border="1" cellpadding="3" cellspacing="0">
	<tr>
		<th>Username</th>
		<th>Password</th>
		<th>Confirm</th>
		<th>Name</th>
		<th>Email</th>
		<th>Admin?</th>
	</tr>
	
	<tr>
		<td><input name="users[1][username]" value="{users__1__username}" size="20"></td>
		<td><input name="users[1][password]" value="{users__1__password}" size="20" type="password"></td>
		<td><input name="users[1][confirmPassword]" value="{users__1__password}" size="20" type="password"></td>
		<td><input name="users[1][name]" value="{users__1__name}" size="20"></td>
		<td><input name="users[1][email]" value="{users__1__email}" size="30"></td>
		<td align="center"><input name="users[1][is_admin]" value="t" type="checkbox" checked readonly></td>
	</tr>
	
	<tr>
		<td><input name="users[2][username]" value="{users__2__username}" size="20"></td>
		<td><input name="users[2][password]" value="{users__2__password}" size="20" type="password"></td>
		<td><input name="users[2][confirmPassword]" value="{users__2__password}" size="20" type="password"></td>
		<td><input name="users[2][name]" value="{users__2__name}" size="20"></td>
		<td><input name="users[2][email]" value="{users__2__email}" size="30"></td>
		<td align="center"><input name="users[2][is_admin]" value="t" type="checkbox" {users__2__is_admin__checked}></td>
	</tr>
	
</table>

<input id="submitButton" type="submit" name="go" value="Create default values &amp; proceed to the next step" onClick="new Effect.DropOut('submitButton');">

</form>


