php_value include_path ".:./lib:../lib/:../../lib"
php_value session.auto_start 1

DirectoryIndex index.php content

<files content>
    ForceType application/x-httpd-php
</files>
<files ajax>
    ForceType application/x-httpd-php
</files>