
<table border=1 cellpadding=3 cellspacing=0>
<!-- BEGIN step_data_row -->
	<tr>
		<th>#%%stepNum%%</th>
		
		<td><a href="/setup/%%stepNum%%">%%stepName%%</a></td>
		
		<td bgcolor="%%stepBGColor%%">%%passFail%%</td>
	</tr>
<!-- END step_data_row -->
</table>
