
Welcome to the setup program for CS-Project, version <b>{VERSION_STRING}</b>!<BR><BR>

<table border=1 cellpadding=3 cellspacing=0>
<!-- BEGIN step_data_row -->
	<tr>
		<th>%%isCurStepL%% %%stepNum%% %%isCurStepR%%</th>
		
		<td><a href="/setup/%%stepNum%%">%%stepName%%</a></td>
		
		<td bgcolor="%%stepBGColor%%">%%passFail%%</td>
		
		<td bgColor="%%stepBGColor%%">%%stepText%%</td>
	</tr>
<!-- END step_data_row -->
</table>
<BR><hr><BR>
