<h2>Issue Priority</h2>

Issue priority indicates how important the issue is in and of itself, or as it 
pertains to a particular project.  The meanings of priorities are roughly as 
follows:

<pre>
	0   - Critical (causes crash, fatal error, or data corruption)
	1   - Very Important (no crash, but causes fatal error or data corruption)
	2-8 - Varying degrees of importance
	9   - New, not important, or superficial
</pre>

The priority of an issue is initially based upon the <a href="/help/tags/modifier">modifiers of tags</a> that 
have been assigned to it.  After creation, registered users can modify this to 
be whatever they desire.


{helpdesk_links}