<h2>Notified Users</h2>

<p>This lists all the users that will be notified of changes to an issue.  
Whenever a user comments on an issue, they are automatically added to 
this list.  At present, there is no option to be removed from the 
notified users list.  If you feel this is an important feature, 
please <a href="/extern/helpdesk/create">file an issue</a> about it.</p> 
