

<h2>Project Linkage</h2>

Helpdesk Issues are linked to projects to help developers and other registered 
users understand how they pertain to a project. Take this project hierarchy for 
example:

<pre>
Software Project		(running)
  +--> Version 1.x		(running)
  |      +--> v1.1		(running)
  |      +--> v1.2		(pending)
  +--> Version 2.x		(pending)
         +--> v2.1		(pending)
</pre>


When somebody creates a new issue, it is important to link this to the appropriate 
project.  If a bug is being reported, and it is linked to "v1.1", developers will 
immediately know that it exists in version 1.1 (and possibly in later versions).  
Assigning the same bug to "Version 2.x" would indicate that it is in the newest 
version of the software.  This makes a very important difference to the developers, 
as it indicates where the problem has occurred.   

