<h2>Submit Buttons</h2>

The submit buttons on an issue work as follows:

<ul>
	<li>Remark: add a remark to the issue (requires info in the "Remark" box).</li>
	<li>Modify: updates the issue (changes to priority or assigned user).</li>
	<li>Solve: completes the issue after entering the solution (requires info in the "Solution" box).</li>
	<li>Re-Open: opens the issue for modification and logs the action.</li>
</ul>
