<table cellpadding="2" cellspacing="0" border="1">
<tr>
	<td><b>Notes</b>(<a href='/content/notes/create?projectId={public_id}' target=_top>Create</a>):<br></td>
</tr>

<!-- BEGIN related_note_row -->
<tr style="background-color: %%bgColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
	onmouseout="this.style.backgroundColor = '%%bgColor2%%'" onclick="location.href = '/content/notes/view?ID=%%id%%'">
	<td width="100%"><a href="/content/notes/view?ID=%%id%%"><img src="/images/pixel_blue.gif" alt="" border="0" width="7"></a>
	<a name="note_%%id%%"></a>
	<a href="/content/notes/view?ID=%%id%%" target="_top"> <u>[%%updated%%: <b>%%fname%% %%lname%%</b>]</u> &nbsp;%%subject%%</a><BR>
	<code style="text-decoration:normal;font-size:10pt;">%%body%%</code></td>
</tr>
<!-- END related_note_row -->
		
</table>
