<!--
 * Last Author:         $Author:danf $ 
 * Current Revision:    $Revision:811 $ 
 * Repository Location: $HeadURL:svn://charybdis.crazedsanity.com/main/projects/cs-project/trunk/templates/content/todo/create.content.tmpl $ 
 * Last Updated:        $Date:2007-06-18 17:49:28 -0500 (Mon, 18 Jun 2007) $
-->

<form method="POST" action="">
<input type="HIDDEN" name="module" value="todo">
<input type="HIDDEN" name="id" value="{todo_id}">
<table>
<tbody>
<tr>
	<td><b>Title</b>: </td>
	
	<td colspan="2"><input size="70" name="updates[name]" value="{name}" type="text" {name_readonly}></td>
</tr>
<!-- BEGIN from_data -->
<tr>
	<td>From:</td>
	
	<td>{creator}</td>
	
	<td>Submit: {submit_date}</td>
</tr>
<!-- END from_data -->
<tr>
	<td valign="top">Describe your request: </td>
	<td colspan="2"><textarea cols="100" rows="6" name="updates[body]" {note_readonly}>{body}</textarea></td>
</tr>
<!-- BEGIN remarks_and_comments_data -->
<tr>
	<td valign="top">Previous remarks:</td>
	
	<td colspan="2">
	</td>
</tr>
<tr>
	<td valign="top">Add a new remark:</td>
	
	<td colspan="2"><textarea cols="100" rows="6" name="comment"></textarea></td>
</tr>
<!-- END remarks_and_comments_data -->
<tr>
<!-- BEGIN assign_list -->
	<td>Assign to: </td>
	<td colspan="2">
		<select name="updates[assigned_contact_id]">
			{user_assign_list}
		</select>
	</td>
<!-- END assign_list -->
</tr>
		<input type="HIDDEN" name="updates[record_id]" value="{record_id}">
<!-- BEGIN status_data -->
<tr>
	<td>Status: </td>
	<td>{status_text}&nbsp;</td>
</tr>
<!-- END status_data -->
<tr>
	<td>Begin:</td>

	<td><input name="updates[started]" size="10" maxlength="10" value="{started}" type="text"> [yyyy-mm-dd]</td>

	<td>Deadline: <input name="updates[deadline]" size="10" maxlength="10" value="{deadline}" type="text"> [yyyy-mm-dd]</td>
</tr>
<tr>
	<td>
	</td>
	
	<td colspan="2">
		<hr>
		<b>Original Estimate:</b> {orig_estimate}
		<input type="text" size="15" maxlength="15" name="updates[estimate_original]" value="1">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<hr>
	</td>
	
</tr>
<tr>
	<td>Priority: </td>
	<td> <select name="updates[priority]">
			{select_priority_list}
		</select>
	</td>
</tr>
<!-- BEGIN progress_data -->
<tr>
	<td>progress: </td>
	
	<td>
<!-- BEGIN progress_text -->
	{progress}%
<!-- END progress_text -->
<!-- BEGIN progress_input -->
	<input name="updates[progress]" value="{progress}" type="text" size="3" maxlength="3">%
<!-- END progress_input -->
	</td>
	<td>Done: <input type="checkbox" name="done"></td>
</tr>
<!-- END progress_data -->
<!-- BEGIN action_buttons -->
<tr>
	<td>&nbsp;</td>

	<td colspan="3">
		<input name="action" value="{modify_or_create_button}" type="submit">&nbsp;
<!-- BEGIN comment_button -->
		<input name="action" value="Comment" type="submit">&nbsp;
<!-- END comment_button -->
		<input type="button" value="Go Back" onClick="javascript:window.history.go(-1)">
	</td>
</tr>
<!-- END action_buttons -->
</tbody>
</table>
</form>
