<form action='' method='POST'>
<input type="hidden" name="note_id" value={note_id}>
<input type="hidden" name="module" value="notes">

<table border=0 bgcolor=#D5D5D5 width="50%">
<tr>
	<td><a href="javascript:void();"><b>Notes</b></a></td>
	
<tr>
	<td></td>
</tr>
<tr>
	<td style="border-bottom:solid #000 1px;">Title: <b>{note_subject}</b></td>
</tr>
<tr>
	<td style="border-bottom:solid #000 1px;"><div>{note_body}</div></td>
</tr>
<tr>
	<td align="center"><a href='{goBackLink}'><b>GO BACK</b></a></td>
</tr>
</table>
