
{stepData}

<p>
	We're going to attempt to write out the config.xml file and (possibly) run some final tests.
</p>

<hr>

<form method="POST" onSubmit="new Effect.DropOut('submitButton');">

<input id="submitButton" type="submit" name="go" value="Write Config File &amp; Perform Tests">

</form>


