	<table cellpadding=0 cellspacing=0 border=0>
	<tr>
		<td>
			<table border="0">
				<tr>
					<td valign=top nowrap><a href="/content/{module}" target='_top'>
						<img src='/images/logo.gif' alt='CS-Project {cs-content_version}' border='0'></a><BR>
						<font size="-7">version {cs-project_version}</font>
					</td>
					
					<td width="100%">
						<h2 style="display:inline;"><u>Current User</u></h2><BR>
						<h3 style="display:inline;">{LOGGED_COMPANY}</h3><br>
						<h4 style="display:inline;">{LOGGED_CONTACT_NAME} ({LOGGED_USERNAME})</h4>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding=0 cellspacing=0>
				<tr>
					{tabs}
					
					<td valign=top align="right"><img src='/images/tab_left_inactive.gif' border='0' height="100%"></td>
					
					<td id='notselected' valign=top><a id='notselected' href='/login.php?logout=1' target='_top'>Logout</a></td>
					
					<td valign=top><img src='/images/tab_right_inactive.gif' border='0' height="100%">&nbsp;</td>
					
					<td valign=top align="right"><img src='/images/tab_left_inactive.gif' border='0' height="100%"></td>
					
					<td id='notselected' valign=top><input type=hidden name='module' value='projects'>
						<form action="/content" method=get>
							<input type="hidden" name="version" value="{cs-project_version}">
							<select name=changeGroup onchange='document.forms[0].submit()'>
								{group_option_list}
							</select>
						</form>
					</td>
					
					<td valign=top><img src='/images/tab_right_inactive.gif' border='0' height="100%">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>