

<div style="padding-top:20px;">
	<!-- BEGIN newSubmission -->
	<form method="POST" onSubmit="cs_submitButton_processing('submitRequest')" action="{PHP_SELF}?submitRequest">
	<table border="0" cellpadding="3" cellspacing="0" style="border:solid #000 1px;">
		<tr>
			<th colspan="2" class="title1">Reset Password Request</th>
		</tr>
		
		<tr>
			<th>Username:</th>
			
			<td><input type="text" name="username" size="40"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="HIDDEN" name="action" value="submitRequest">
				<div id="submitRequest_button" style="display:inline">
					<input type="submit" value="Send Request"></div>
				<div id="submitRequest_image" style="display:none">
					<img src="/images/processing.gif" border="0"></div>
			</td>
		</tr>
	</table>
	</form>
	<!-- END newSubmission -->
	
	<!-- BEGIN authenticateRequest -->
	<p>To authenticate your Lost Password Request, please enter your username 
	and the token provided in the email.</p>
	
	<form method="POST" onSubmit="cs_confirmLostPass()">
	<table cellspacing="0" cellpadding="3" style="border:solid #000 1px;">
		<tr>
			<th colspan="2">Authenticate Lost Password Request</th>
		</tr>
		
		<tr>
			<th>Token: </th>
			
			<td><input id="hashInput" name="auth[token]" type="text" size="40" maxlength="32"></td>
		</tr>
		
		<tr>
			<th>Email Address: </th>
			
			<td>
				<input id="checksumInput" name="auth[checksum]" type="text" size="40">
			</td>
		</tr>
		
		<tr>
			<th>New Password: </th>
			
			<td><input id="password" name="pass[check]" type="password" size="40" value=""></td>
		</tr>
		
		<tr>
			<th>(confirm) </th>
			
			<td><input id="passwordConfirm" name="pass[confirm]" type="password" size="40" value=""></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="HIDDEN" name="tokenId" value="{tokenId}">
				<input type="HIDDEN" name="action" value="authenticateRequest">
				
				<div id="submitRequest_button" style="display:inline">
					<input id="submitButton" type="submit" value="Authenticate Submission" disabled>
				</div>
				<div id="submitRequest_image" style="display:none">
					<img src="/images/processing.gif" border="0">
				</div>
			</td>
		</tr>
		
		<tr>
			<td colspan="2"><div id="debug"></div></td>
		</tr>
	</table>
	</form>
	<!-- END authenticateRequest -->

</div>