

<table cellspacing="0" cellspacing="3" width="100%">
	<tr>
		<th style="border:solid #000 1px;">Contact ID</th>
		
		<th style="border:solid #000 1px;border-left:none;">Company</th>
		
		<th style="border:solid #000 1px;border-left:none;">Name</th>
		
		<th style="border:solid #000 1px;border-left:none;">Email</th>
	</tr>
	
<!-- BEGIN dataRow -->
	<tr>
		<td>{contact_id}</td>
		
		<td>{company}</td>
		
		<td>{fname} {lname}</td>
		
		<td>{email}</td>
	</tr>
<!-- END dataRow -->

</table>
