
<table border=1 cellpadding=3 cellspacing=0>
	<tr>
		<td>
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th colspan=6>
						Project List &nbsp;&nbsp;[{projectCount}]
					</th>
				</tr>
				<tr>
					<th>Name of Project</th>
					<th>Status</th>
					<th>Progress</th>
					<th>Priority</th>
					<th>Leader</th>
				</tr>
				
				<!-- BEGIN project_row -->
					<tr style="background-color: %%rowColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
					onmouseout="this.style.backgroundColor ='%%rowColor2%%'" 
					onclick="location.href = '/content/project/view?ID=%%id%%'">
					
						<td><a href="/content/project/view/?ID=%%id%%">%%name%%</a>&nbsp;</td>
						
						<td>%%status_text%%&nbsp;</td>
						<td align="right" nowrap>%%progress%%%</td>
						<td>%%priority%%&nbsp;</td>
						<td>%%assigned%%&nbsp;</td>
					</tr>
				<!-- END project_row -->
			</table><BR>
			
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th colspan="2">Recent Reports &nbsp;&nbsp;[{reportCount}]</th>
				</tr>
				<tr>
					<th>Description</th>
					<th>Details</th>
				</tr>
			<!-- BEGIN report_row -->
				<tr style="background-color: %%reportBg1%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
				onmouseout="this.style.backgroundColor = '%%reportBg2%%'" 
				onclick="location.href = '/content/%%myModule%%/view?ID=%%record_id%%'">
					<td><a href="/content/%%myModule%%/view?ID=%%record_id%%">%%description%%</a></td>
					<td>%%details%%</td>
				</tr>
			<!-- END report_row -->
			<!-- BEGIN report_row-noLink -->
				<tr style="background-color: %%reportBg1%%;">
					<td>%%description%%</td>
					<td>%%details%%</td>
				</tr>
			<!-- END report_row-noLink -->
			</table>
		</td>

		<td>
			<table border=1 cellpadding=3 cellspacing=0>
				<tr>
					<th colspan=8>
						Helpdesk Issues  &nbsp;&nbsp;[{helpdeskIssueCount}]
					</th>
				</tr>
				
				<tr>
					<th>Nr.</th>
					<th>Category</th>
					<th>Pri.</th>
					<th>Email</th>
					<th>Title</th>
					<th>Status</th>
				</tr>

				<!-- BEGIN helpdesk_row -->
				<tr style="background-color: %%bgColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
				onmouseout="this.style.backgroundColor = '%%bgColor2%%'" 
				onclick="location.href = '/content/helpdesk/view?ID=%%helpdesk_id%%'">
				
					<td><a href="/content/helpdesk/view?ID=%%helpdesk_id%%"><b>%%helpdesk_id%%</b></a></td>
					
					<td>%%tag_list%%&nbsp;</td>
					
					<td>%%priority%%&nbsp;</td>
					
					<td>%%email%%&nbsp;</td>
					
					
					<td>%%name%%&nbsp;</td>
					
					<td>%%status_text%%&nbsp;</td>
				</tr>
				<!-- END helpdesk_row -->
			</table>
		</td>
	</tr>
</table>
