<h1>Welcome to the Help System!</h1>
<h2>Topics</h2>
<ul>
	<li><a href="/help/lost_password">Lost Password</a></li>
	<li><a href="/help/helpdesk">Helpdesk</a></li>
	<li><a href="/help/tag">Tags</a></li>
</ul>
