<table cellpadding="2" cellspacing="0" border="1">	
<tr>
	<td colspan="8"><b>Todo: </b>(<a href='/content/todo/create?parentPublicId={public_id}&module={module}' target=_top>Create</a>):
<!-- BEGIN todoPrefWarning -->
		<BR><font color="red"><b>Warning:</b></font> Not all issues will be displayed, due to your <a href="/content/settings">preferences</a>.
<!-- END todoPrefWarning -->
	</td>
</tr>
<tr>
	<th>Pri</th>
	<th>Creator</th>
	<th>Assigned</th>
	<th>%</th>
	<th>Status</th>
	<th>Title</th>
	<th>Deadline</th>
	<th>
		Hours Left <a href="/help/todo/hours_left" target="_blank">
		<img src="/images/icon-help.png" border="0"></a>
	</th>
</tr>
	
<!-- BEGIN related_todo_row -->
<tr style="background-color: %%bgColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
	onmouseout="this.style.backgroundColor = '%%bgColor2%%'" onclick="location.href = '/content/todo/view?ID=%%id%%'">
	<td><font style="font-weight:%%font_weight%%;">%%priority%%</font></td>
	<td><font style="font-weight:%%font_weight%%;">%%creator%%</font></td>
	<td><font style="font-weight:%%font_weight%%;">%%assigned_user%%</font></td>
	<td align="right"><font style="font-weight:%%font_weight%%;">%%progress%%%</font></td>
	<td nowrap align="center">(%%status_text%%)</td>
	<td><a href="/content/todo/view?ID=%%id%%" target="_top" style="font-weight:%%font_weight%%;">
	%%name%%</a></td>
	<td>%%deadline%%</td>
	<td><b>%%hours_remaining%%</b> (%%estimate_current%%)&nbsp;</td>

</tr>
<!-- END related_todo_row -->
</table>