

<h2>What is a Tag?</h2>

A tag is essentially something to help give more information at-a-glance about a given record.  At creation time, a Helpdesk Issue can be linked to several different 
tags with different <a href="/help/tags/modifier">modifiers</a>, which helps to determine <a href="/help/helpdesk/priority">priority</a>.