<!-- BEGIN rts_search -->
<form action="{PHP_SELF}" method="post">
<table bgcolor="#d5d5d5" border="0">
<tbody>
<tr>
	<td><b>Helpdesk [{numRows}]</b>&nbsp;&nbsp;</td>
	
	<td>Search: <input name="filter[keyword]" value="{filter_keyword}" size="20" maxlength="20" type="text">
		<input type="HIDDEN" name="filter[field]" value="all">
	</td>
	
	<td>
	</td>
	
	<td>Status: 
		<select name="filter[status_id]">
			<option {filter_status_id__selected}> --- </option>
			<option value="all" {filter_status_id_all_selected}>All</option>
			<option value="0" {filter_status_id_0_selected}>New/Offered</option>
			<option value="1" {filter_status_id_1_selected}>Pending</option>
			<option value="2" {filter_status_id_2_selected}>Running/Accepted</option>
			<option value="3" {filter_status_id_3_selected}>Stalled</option>
			<option value="4" {filter_status_id_4_selected}>Ended/Solved</option>
			<option value="5" {filter_status_id_5_selected}>Rejected</option>
			<option value="6" {filter_status_id_6_selected}>Re-opened</option>
		</select>
	</td>
	
<td align="center">
	<input type="HIDDEN" name="action" value="filter">
	&nbsp;<input type="submit" value="Go">&nbsp;
	</td>
</tr>
<tr>
	<td><a href="/content/rts/create">New request</a></td>
	<td colspan="3">&nbsp;</td>
	<td><input type="submit" name="reset_filter" value="Reset"></td>
</tr>
</tbody>
</table>
</form>
<br>
<!-- END rts_search -->

<table border="0" cellpadding="2" cellspacing="0">
<tbody>
<tr bgcolor="#e0e0e0">
	<td><b><a href="{PHP_SELF}?sort=public_id&sortType={public_id_sortType}">Nr.</a></b></td>
	<td><b>Tags</b></td>
	<td><b><a href="{PHP_SELF}?sort=priority&sortType={priority_sortType}">Pri.</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=email&sortType={email_sortType}">Email</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=start_date&sortType={start_date_sortType}">Submit</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=name&sortType={name_sortType}">Title</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=subject&sortType={subject_sortType}">Text</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=status_id&sortType={status_id_sortType}">Status</a></b></td>
	<td><b><a href="{PHP_SELF}?sort=assigned&sortType={assigned_sortType}">Assign</a></b></td>
</td>
</tr>

<!-- BEGIN rts_row -->
<tr style="background-color: %%bgColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
onmouseout="this.style.backgroundColor = '%%bgColor2%%'" 
onclick="location.href = '/content/{module}/view?ID=%%public_id%%'">

	<td><a href="/content/{module}/view?ID=%%rts_id%%"><b>%%public_id%%</b></a></td>
	
	<td>%%tag_list%%&nbsp;</td>
	
	<td>%%priority%%&nbsp;</td>
	
	<td>%%email%%&nbsp;</td>
	
	<td align="right">%%start_date%%</td>
	
	<td>%%name%%&nbsp;</td>
	
	<td>%%subject%%&nbsp;</td>
	
	<td>%%status_text%%&nbsp;</td>
	
	<td>%%assigned%%&nbsp;</td>
	
</tr>
<!-- END rts_row -->
</table>