<!-- BEGIN selected_tab -->
		<td valign=top align="right" style="padding-left:1px;"><img src='/images/tab_left_active.gif' border='0' height="100%"></td>
		<td id='selected' valign="middle"><a id='selected' href='%%url%%' target='_top'>%%title%%</a></td>
		<td valign=top style="padding-right:1px;"><img src='/images/tab_right_active.gif' border='0' height="100%"></td>
<!-- END selected_tab -->

<!-- BEGIN unselected_tab -->
		<td valign=top align="right"><img src='/images/tab_left_inactive.gif' border='0' height="100%"></td>
		<td id='notselected'><div style="text:align=middle"><a id='notselected' href='%%url%%' target='_top'>%%title%%</a></td>
		<td valign=top style="padding-right:1px;"><img src='/images/tab_right_inactive.gif' border='0' height="100%"></td>
<!-- END unselected_tab -->
