
<h1>AJAX TEST</h1>

<p class="smallprint">NOTE: you might want to use Firefox with FireBug turned on 
so you can watch the data being sent.</p>

<form>
	<input type="button" id="button1" value="Click me"/>
</form>


<div id="pageLoadData" style="border:solid #000 1px;">This gets updated once the page is completely loaded.</div>

<div id="response">No data yet... CLICK THE BUTTON!!!</div>
