{header}
<table border="0">
<tr>
	<td colspan="2">
	{content}
	</td>
</tr>
<tr>
	<td>
	{related_todo}
	</td>
	
	<td>
	{related_issue}
	</td>
</tr>
<tr>
	<td colspan="2">
	{related_note}
	</td>
</tr>
</table>
{footer}