

<table cellspacing="0" cellspacing="3" width="100%">
	<tr>
		<th style="border:solid #000 1px;">Contact ID</th>
		
		<th style="border:solid #000 1px;border-left:none;">Company</th>
		
		<th style="border:solid #000 1px;border-left:none;">Name</th>
		
		<th style="border:solid #000 1px;border-left:none;">Email</th>
	</tr>
	
<!-- BEGIN dataRow -->
	<tr style="background-color: {rowColor};" onmouseover="this.style.backgroundColor = '#ffffff'" 
	onmouseout="this.style.backgroundColor ='{rowColor2}'">
	
		<td align="right" style="padding-right:5px;">
			<a href="/content/{module}/view/{contact_id}">
			{contact_id}</a> <a href="/content/{module}/view/{contact_id}" target="_blank">
			<img border="0" src="/images/icon_link_new_window.gif"></a>
		</td>
		
		<td onclick="location.href = '/content/{module}/view/{contact_id}'"><b>{company}</b></td>
		
		<td onclick="location.href = '/content/{module}/view/{contact_id}'">{fname} {lname}</td>
		
		<td onclick="location.href = '/content/{module}/view/{contact_id}'">{email}</td>
	</tr>
<!-- END dataRow -->

</table>
