<head>
	<link rel=stylesheet type='text/css' href='/css/common.css'>
	<title>Login Page [{PROJ_NAME}]</title>
</head>
<body bgcolor="#D5D5D5" {background}><center>
{error_msg}
<form action='/login.php' method='post' name='frm' onSubmit="this.login.value='Logging in...';this.login.disabled=true;">
<input type='hidden' name'loginform' value='1'>
<table cellspacing=1 cellpadding=5 bgcolor="#D5D5D5" border=0>

<!-- place logo if no backgroupd image is given -->
<tr><td colspan="2"><br><br><img src='/images/logo.gif' border='0'></td></tr>

<!--  user name ... -->
<tr><td>Username</td><td><input type='text' name='username' style="border:1px solid #000;"></td></tr>

<!--  ... and password -->
<tr><td>Password</td><td><input type='password' name='password' style="border:1px solid #000;"></td></tr>
<tr><td>&nbsp;</td><td><input name="login" type='submit' value='Login' style="border:1px solid #000;"></td></tr>
<tr><td align='center' colspan=2 style="border-top:solid #000 1px;">
	<div>Brought to you by:</div>
	<a href="http://www.crazedsanity.com/projects/cs-project">
	<img src="http://www.crazedsanity.com/php-bin/hitsTracker.php?data=_version:{cs-project_version}/_name:{PROJ_NAME}/_image:isUpdateable" border="0">
	</a></td>
</tr></table>
</form></center></body></html>