<head>
	<link rel=stylesheet type='text/css' href='/css/common.css'>
	<title>Login Page [{PROJ_NAME}]</title>
</head>
<body bgcolor="#D5D5D5" {background}><center>

{error_msg}

<table cellspacing="0" cellpadding="3" border="0">
	<tr>
		<td>
			<form action='/login.php' method='post' name='frm' onSubmit="this.login.value='Logging in...';this.login.disabled=true;">
			<input type='hidden' name'loginform' value='1'>
			<table cellspacing=1 cellpadding=5 bgcolor="#D5D5D5" border=0>
				
				<tr>
					<td colspan="2">
						<br><br><img src='/images/logo.gif' border='0'>
					</td>
				</tr>
				
				<tr>
					<td>Username</td>
					
					<td><input type='text' name='username' style="border:1px solid #000;"></td>
				</tr>
				
				<tr>
					<td>Password</td>
					
					<td><input type='password' name='password' style="border:1px solid #000;"></td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					
					<td>
						<input name="login" type='submit' value='Login' style="border:1px solid #000;">
						&nbsp;<a href="/help/lost_password">Lost Password?</a>
					</td>
				</tr>
				
			</table>
			</form>
		</td>
	</tr>
	
	<tr>
		<th style="border:solid #000 2px;">Helpful Links:</th>
	</tr>
	
	<tr>
		<td style="border:solid #000 2px;border-top:none;">
			<ul>
				<li><a href="/extern/helpdesk">View Helpdesk Issues</a></li>
				<li><a href="/extern/helpdesk/create">Submit New Issue</a></li>
			</ul>
		</td>
	</tr>
</table>

</center>



</body>
</html>