<h2>The Helpdesk</h2>

The Helpdesk is a system used to list issues that occur within a given project, 
whether it is client software, a web application, or just about anything else.  
Issues are created to notify developers of bugs or request new features.  
Developers and users are notified whenever there is a change, or when the issue 
has been completed, so everybody concerned is kept up-to-date.

{helpdesk_links}