<html>
<body>
There has been an update to a helpdesk issue  Please read on for <br>
more information.

<hr>
<table border="1" cellpadding="2" cellspacing="0">
<tr>
	<th>Issue Number:</th>
	<td><pre>{public_id}</pre></td>
</tr>
<tr>
	<th>Name of Issue:</th>
	<td><pre>{name}</pre></td>
</tr>
<tr>
	<th>Contents:</th>
	<td><pre>{subject}</pre></td>
</tr>
<tr>
	<th>Date of Submission:</th>
	<td>{start_date}</td>
</tr>
<tr>
	<th>Issue Category:</th>
	<td>{tag_list}</td>
</tr>
<tr>
	<th>Assigned To:</th>
	<td>{assigned}</td>
</tr>
<tr>
	<th>Priority:</th>
	<td>{priority}</td>
</tr>
<tr>
	<th>All Remarks:</th>
	<td><pre>{remark}</pre></td>
</tr>
<tr>
	<th>SOLUTION:</th>
	<td><pre>{newSolution}</pre></td>
</tr>
<tr>
	<td colspan="2" align="center">Click the link to view online: 
		[<a href="http://{project_url}/extern/helpdesk/view?ID={id}">view</a>]</td>
</tr>
</body>
</html>