<html>
<body>
There has been an update to your helpdesk issue.  Please utilize <BR>
the link at the bottom of the message to respond, if necessary.<BR><BR>

<b>NOTE</b>: Responding to this message will not work if it has been<BR>
updated since the time of this email.

<table border="1" cellpadding="2" cellspacing="0">
<tr>
	<th>Issue Number:</th>
	<td>{public_id}</td>
</tr>
<tr>
	<th>Name of Issue:</th>
	<td><pre>{name}</pre></td>
</tr>
<tr>
	<th>Contents:</th>
	<td><pre>{subject}</pre></td>
</tr>
<tr>
	<th>Date of Submission:</th>
	<td>{start_date}</td>
</tr>
<tr>
	<th>Issue Category:</th>
	<td>{tag_list}</td>
</tr>
<tr>
	<th>Assigned To:</th>
	<td>{assigned}</td>
</tr>
<tr>
	<th>Priority:</th>
	<td>{priority}</td>
</tr>
<tr>
	<th>New Remark:</th>
	<td><pre>{newRemark}</pre></td>
</tr>
<tr>
	<td align="center" colspan="2">Click the link to view/respond online: 
		[<a href="http://{project_url}/extern/helpdesk/view?myLinkAction={linkAction}&ID={public_id}{linkExtra}">{linkAction}</a>]</td>
</tr>
</body>
</html>