
{stepData}

<p>
	This step will create the database and load the default schema.
</p>

<hr>

<form method="POST">

<input type="submit" name="go" value="Build Schema &amp; Proceed to Next Step">

</form>


