<form action="{PHP_SELF}" method="POST">
<table bgcolor="#d5d5d5" border="0" cellpadding="3" cellspacing="0">
	<tbody>
	<tr>
		<td colspan="3" nowrap>
			<a href="{PHP_SELF}/create">&nbsp;<b>New Project</b>&nbsp;</a>
		</td>
		<td colspan="3">&nbsp;</td>
		<!-- td><input type="submit" name="reset_filter" value="Reset"></td -->
	</tr>
	</tbody>
</table><br>
</form>
<table border="0" cellpadding="3" cellspacing="1" width="100%">
	<tbody>
	<tr bgcolor="#e0e0e0">
		<td>
			<b><a href="?sort=name&sortType={name_sortType}">
			Name of Project</a></b>
		</td>
		<td>
			<b><a href="?sort=start_date&sortType={start_date_sortType}">
			Begin</a></b>
		</td>
		<td>
			<b><a href="?sort=deadline&sortType={deadline_sortType}">
			End</a></b>
		</td>
		<td>
			<b><a href="?sort=status_id&sortType={status_id_sortType}">
			Status</a></b>
		</td>
		<td>
			<b><a href="?sort=progress&sortType={progress_sortType}">
			Progress</a></b>
		</td>
		<td>
			<b><a href="?sort=priority&sortType={priority_sortType}">
			Priority</a></b>
		</td>
		<td>
			<b><a href="?sort=leader_contact_id&sortType={leader_contact_id_sortType}">
			Leader</a></b>
		</td>

	</tr>
<!-- BEGIN project_row -->
	<tr style="background-color: %%rowColor%%;" onmouseover="this.style.backgroundColor = '#ffffff'" 
	onmouseout="this.style.backgroundColor ='%%rowColor2%%'" 
	onclick="location.href = '/content/{module}/view?ID=%%public_id%%{linkExtra}'">
	
		<td>%%levelPad%%<a name="proj_%%public_id%%" 
			href="?expandId=%%public_id%%&expand=%%expand2%%&level=%%level%%#proj_%%public_id%%{linkExtra}">
			<img src="/images/%%expand%%.gif" border="0" height="9" width="9"></a>
			<a href="/content/{module}/view/?ID=%%public_id%%{linkExtra}">%%name%%</a>&nbsp;
		</td>
		
		<td>%%start_date%%&nbsp;</td>
		<td>%%deadline%%&nbsp;</td>
		<td>%%status_text%%&nbsp;</td>
		<td align="right" nowrap>%%progress%%</td>
		<td>%%priority%%&nbsp;</td>
		<td>%%assigned%%&nbsp;</td>
	
	</tr>
	{subproject_%%public_id%%}
<!-- END project_row -->

</table>