Welcome to the setup program for CS-Project, version <b>{VERSION_STRING}</b>!

<p>
	This step will build the following default values in the database:
	<ul>
		<li>Log categories &amp; classes</li>
		<li>Version information</li>
		<li>Anonymous contact data</li>
		<li>Default administrator/user information</li>
		<li></li>
	</ul>
</p>

{stepData}
<BR><BR>

<form method="POST">

<input type="submit" name="go" value="Create default values &amp; proceed to the next step">

</form>


